*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Common CSS Modifications */
body {
    box-sizing: border-box;
    font-family: 'ZCOOL QingKe HuangYou', cursive, Arial, Helvetica, sans-serif;
    /* background-color: #2A1757; */
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #BA9372;
    cursor: pointer;
}

a:hover {
    color: #ABFBFF;
    text-decoration: underline;
}


.navbar {
    /* position: relative; */
    animation-name: appear;
    animation-duration: 1s;
}

.about {
    animation-name: appear;
    animation-duration: 1.5s;
}

.expertise-1 {
    background-color: #03396c;
    animation-name: appear;
    animation-duration: 2s;
}

.expertise-2 {
    background-color: #03396c;
    animation-name: appear;
    animation-duration: 2.5s;
}

.portfolio {
    background-color: #005b96;
    animation-name: appear;
    animation-duration: 3s;
}

.footer {
    background-color: #2A1757;
    animation-name: appear;
    animation-duration: 3.5s;
}

/* Responsive Layouts */

@media only screen and (min-width: 320px) {
    
    /* Header Section */
    
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 150px;
        background-color: #2A1757;
        color: #BA9372;
    }

    .navbar-list {
        display: flex;
        justify-content: space-evenly;
        border-top: 2px solid #BA9372;
        margin-top: 15px;
    }

    .navbar-list > li {
        margin: 10px 20px 0 20px;
    }

    .about {
        border-top: 2px solid #BA9372;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2A1757;
        color: #BA9372;
        text-align: center;
        line-height: 1.3em;
    }

    .about-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 20px;
    }

    /* .expertise {
        
    } */

    .expertise-1 {
        border-top: 2px solid #BA9372;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #BA9372;
    }

    .expertise-1 > ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .expertise-1 > ul > li {
        margin: 10px 20px 0 20px;
        padding: 5px 10px;
        border: 3px solid #BA9372;
        border-radius: 10px;
    }

    .expertise-1 > h2 {
        border-bottom: 2px solid #BA9372;
        margin-bottom: 2px;
    }

    .expertise-2 {
        border-top: 2px solid #BA9372;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #BA9372;
    }
    .expertise-2 > h2 {
        border-bottom: 2px solid #BA9372;
        margin-bottom: 2px;
    }

    .expertise-2 > ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .expertise-2 > ul > li {
        margin: 10px 20px 0 20px;
        padding: 5px 10px;
        border: 3px solid #BA9372;
        border-radius: 10px;
        
    }

    .portfolio {
        border-top: 2px solid #BA9372;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #BA9372;
    }

    .portfolio > h2 {
        margin-bottom: 2px;
        border-bottom: 2px solid #BA9372;
    }

    .footer {
        display: flex;
        flex-direction: column;
        min-height: 180px;
        justify-content: center;
        align-items: center;
        color: #BA9372;
        border-top: 2px solid #BA9372;
    }

    .footer > ul {
        display: flex;
    }

    .footer > ul > li {
        margin: 10px 20px 0 20px;

    }

}

@media only screen and (min-width: 600px) {
    
    body {
        font-size: 1.2rem;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar-list {
        border: none;
        margin: 0px;
    }

    .about {
        min-height: 500px;
    }

    .about-1 {
        flex-direction: row;
    }

    .about-1 > h2 {
        margin-right: 50px;
    }

    .expertise-1 {
        min-height: 500px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .expertise-1 > ul {
        flex-direction: column;
    }

    .expertise-2 {
        min-height: 500px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .expertise-2 > ul {
        flex-direction: column;
    }

    .footer {
        border-top: 2px solid #BA9372;
    }

    .footer > ul {
        margin-top: 20px;
    }
    
}

@keyframes appear {
    0% {
        transform: scale(0,0);
    }

    100% {
        transform: scale(1,1);
    }
}
